body{
  overflow: hidden;
  background-color: black;
}


.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
   .main-title {
     font-size: 3em;
  }
}